<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fresh.getfresh"
    android:installLocation="preferExternal">


    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconr"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Kochbuch"
            android:label="Kochbuch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rezept_Info"
            android:label="Rezept Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Test_main"
            android:label="Test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TraningsplanauswahlActivity"
            android:label="Trainingsplan Auswahl"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DreiersplitActivity"
            android:label="Dreiersplit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplitwahlActivity"
            android:label="Splitwahl"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VierersplitActivity"
            android:label="Vierersplit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ZweiersplitActivity"
            android:label="Zweiersplit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KoerperdatenActivity"
            android:label="Körperdaten"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ErnahrungsplanActivity"
            android:label="Ernährungsplan"
            android:screenOrientation="portrait" />
    </application>

</manifest>