<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fresh.getfresh"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconr"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Kochbuch"
            android:screenOrientation="portrait"
            android:label="Kochbuch"/>
        <activity
            android:name=".Rezept_Info"
            android:screenOrientation="portrait"
            android:label="Rezept Details"/>
        <activity
            android:name=".Test_main"
            android:screenOrientation="portrait"
            android:label="Test"/>
        <activity
            android:name=".TraningsplanauswahlActivity"
            android:screenOrientation="portrait"
            android:label="Trainingsplan Auswahl"/>
        <activity
            android:name=".DreiersplitActivity"
            android:screenOrientation="portrait"
            android:label="Dreiersplit"/>
        <activity
            android:name=".SplitwahlActivity"
            android:screenOrientation="portrait"
            android:label="Splitwahl"/>
        <activity
            android:name=".VierersplitActivity"
            android:screenOrientation="portrait"
            android:label="Vierersplit"/>
        <activity
            android:name=".ZweiersplitActivity"
            android:screenOrientation="portrait"
            android:label="Zweiersplit"/>
    </application>

</manifest>